.forms-container {
  text-align: center;
  background-color: white;
  
  padding: 3em 3em;
  display:flex;
  gap: 20px;
  flex-direction: column;
  /* width: 80%; */
  /* background-color: silver; */
  min-width: 320px;
}
.tiny-flex{
  display: flex;
  justify-content: space-between;
}
